:root {
    --bg-color: #f1f1f1;
    --card-bg-color: white;
    --text-color: black;
    --tag-color: #818f9f;
    --button-bg: #e0efff;
    --button-color: #2a8efe;
}
.dark-mode {
    --bg-color: #121212;
    --card-bg-color: #1e1e1e;
    --text-color: white;
    --tag-color: #818f9f;
    --button-bg: #1a2940;
    --button-color: #2a8efe;
}
body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Roboto, Arial, sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.card {
    padding: 20px;
    width: 100%;
    max-width: 350px;
    background-color: var(--card-bg-color);
    border-radius: 10px;
    border-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.tag-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 15px 0;
}

.tag {
    border: 1px solid var(--tag-color);
    color: var(--tag-color);
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 14px;
}

.tag:hover {
    background-color: #818f9f;
    color: white;
}

h2 {
    margin: 10px 0;
    font-size: 1.5rem;
}

p {
    color: #9ba4b0;
    padding: 0;
    font-weight: 500;
    text-align: justify;
    font-size: 0.9rem;
    line-height: 1.4;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

button {
    cursor: pointer;
    color: var(--button-color);
    background-color: var(--button-bg);
    font-weight: 600;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;
    max-width: 150px;
}

@media (max-width: 400px) {
    .card {
        padding: 15px;
    }

    h2 {
        font-size: 1.3rem;
    }

    p {
        font-size: 0.8rem;
    }

    .tag {
        font-size: 12px;
    }
}
